body {
    text-align: center;
}
.container {
    background-color: green;
    width : 400px; 
    height: 400px;
    text-align: center;
}
.cell {
    width: 100px;
    height: 100px;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    text-align: center;
    font-size: 100px;
  

}